.home {
    max-width: 48%;
    margin:5% auto;
    font-size: 18px;
}

h1,
h2 {
    font-size: 25px;
    margin:  0 0 5% 0;
}


.lihome {
    list-style-type: none;
    font-size: 18px;
    text-decoration: underline;
    margin: 0 0 0 -5%;
}

.tilmeldsub {
    background: black;
    color: white;
    font-weight: 600;
    font-size: 16px;
    max-width: 20%;
    padding: 1%;
    cursor: pointer;
    margin: 2% 0 0 0;

}

.tilmeldsub .check {
    max-width: 15%;
    margin: 0 2px;
  
}