.linjefag {
    max-width: 45%;
    margin: 5% auto;
    font-size: 18px;
    font-family: Arial;
}

.linjewrap {
    display: inline-block;
    font-size: 18px;
}

.linjewrap h2 {
    font-size: 18px;
    margin: 5% 0 0 0;
}

.linjebox {
    display: flex;
}

.linjebox p {
    margin: 0 0 5px 10px;
    width: 30%;

}

.linjebox span {
    color: #ff8400;
}

.startp {
    border-bottom: solid black 1px;
    padding-bottom: 7%;
}